<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>客户账户管理</title>
    <link rel="stylesheet" th:href="@{/js/easyUI/themes/gray/easyui.css}"></link>
    <link rel="stylesheet" href="../js/easyUI/themes/icon.css"></link>
    <script type="text/javascript" th:src="@{/js/easyUI/jquery.min.js}"></script>
    <script type="text/javascript" src="../js/easyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../js/easyUI/jquery.form.js"></script>
    <script type="text/javascript">
       $(function(){
    	   $('#dg').datagrid({
    		    loadMsg: "正在加载数据，请稍等...", 
    		    url:'../apply/query',
    		    fitColumns:true,
    		    rownumbers: true,
    		    toolbar:'#u_toolbar',
    		    pagination:true,//设置是否分页
    		    pageList:[10,20,30,50],
    		    pageSize:20,
    		    columns:[[
    		        { title: '', field: '', checkbox:true, width: 100},
    		        { title: '所属客户', field: 'cusname', width: 100},
		            { title: '购买产品', field: 'proname', width: 100},  
		            { title: '申请单号', field: 'loancode', width: 150},  
		            { title: '出借日期', field: 'loandate', width: 100},  
		            { title: '出借金额(￥)', field: 'loanamount', width: 100,align:'right'},  
		            { title: '记息日期', field: 'coveragedate', width: 100},
		            { title: '审核人', field: 'auditor', width: 100}, 
		            { title: '审核日期', field: 'auditordate', width: 100}, 
		            { title: '状态', field: 'status', width: 100,
		            	formatter: function(value,row,index){
		            		//单据状态  0-未提交 1-待审核 2-待划扣  3-审核退回 4-划扣成功 5-划扣失败 6-回款中 7-出借完结
		            		var s="未提交 ";
		            		if(value=='1'){
		            			s="待审核";
		            		}else if(value=='2'){
		            			s="待划扣";
		            		}else if(value=='3'){
		            			s="审核退回";
		            		}else if(value=='4'){
		            			s="划扣成功";
		            		}else if(value=='5'){
		            			s="划扣失败";
		            		}else if(value=='6'){
		            			s="回款中";
		            		}else if(value=='7'){
		            			s="出借完结";
		            		}
		            		return s;
		                }
		            },
		            { title: '操作', field: 'id', width: 100,
		            	formatter: function(value,row,index){
		            		var status=row.status;
		            		var but="";
		            		if(status=='0' || status=='3'){
		            			but='<input type="button" value="删除" onclick="javascript:del('+value+')"/>';
		            		}
		            		return but;
		                }
		            }
    		    ]]
    		});
       })
       //查询
       function search(){
    	   var qname=$("#s_loancode").textbox('getValue');
    	   $('#dg').datagrid({
    			queryParams: {
    				url:'../apply/query',
    				qname: qname
    			}
    		});
       }
       //重置
       function reSet(){
    	   $("#s_loancode").textbox('setValue','');
    	   search();
       }
       //弹出保存模态框
       function openAddDialog(){
    	   $('#addOrUpdateForm').form('clear');
    	   //获取单据编号
    	   $.ajax({
    		   type:"post",
    		   url:"../apply/getCode",
    		   dataType:"text",
    		   success:function(res){
    			   $("#loancode").textbox('setValue',res);
    			   $('#addOrUpdateDialog').dialog('open').dialog('setTitle', '新增申请');
    		   }
    	   })
       }
       //关闭模态框 
       function dialogClose(){
   		    $('#addOrUpdateDialog').dialog('close');
   	   }
       //提交表单 
       function submitForm(){
    	   $('#addOrUpdateForm').form('submit',{
	   			onSubmit:function(){
	   				return $(this).form('enableValidation').form('validate');
	   			},    
	   		    success:function(data){    
	   		    	saveOrUpdate();
	   		    }
   		   });
       }
       function saveOrUpdate(){
    	    //上传附件需要用jquery.form中的ajaxSubmit方法
	   		$('#addOrUpdateForm').ajaxSubmit({
	   	        type: "post",
	   	        url:"../apply/save",
	   	        dataType : 'text',
	   	        success: function(data){
	   	        	if(1==data){
	   	        		$.messager.alert('提示', '操作成功', 'info');
	   	        		slide();
	   	        		$('#addOrUpdateDialog').dialog('close');
	   	        		$('#dg').datagrid('reload'); 
	   	        	}else{
	   	        		$.messager.alert('提示', '操作失败', 'info');
	   	        	}
	   	        },
	   	        error: function(e,a,b){
	   	        	$.messager.alert('提示', '操作失败', 'error');
	   	        }
	   	    });
       }
       
       //删除
       function del(id){
    	   if(id==""){
    		   $.messager.alert('提示', '请选择要删除的记录!', 'info');
    		   return;
    	   }
    	   $.ajax({
    		   type:"post",
    		   url:"../apply/del",
    		   data:{"ids":id},
    		   dataType:"text",
    		   success:function(res){
    			   if(res>0){
    				   $.messager.alert('提示', '操作成功,删除了'+res+'条', 'info');
    				   $('#dg').datagrid('reload');
    			   }else{
    				   $.messager.alert('提示', '操作失败', 'error');
    			   }
    		   }
    	   })
       }
       //去修改
       function updateDialog(){
    	   var rows=$('#dg').datagrid('getSelections');
    	   if(rows.length==0){
    		   $.messager.alert('提示', '请选择要修改的记录!', 'info');
    		   return;
    	   }
    	   if(rows.length>1){
    		   $.messager.alert('提示', '亲，只能修改一条的记录!', 'info');
    		   return;
    	   }
    	   var id=rows[0].id;
    	   var status=rows[0].status;
    	   if(status!='0' && status!='3'){
    		   $.messager.alert('提示', '亲，只能修改未提交与审核退回的记录!', 'info');
    		   return;
    	   }
    	   $.ajax({
    		   type:"post",
    		   url:"../apply/getObjById",
    		   data:{"id":id},
    		   dataType:"json",
    		   success:function(res){
    			   $("#id").val(id);
    			   $("#cid").combobox('setValue',res.cid);
    			   $("#pid").combobox('setValue',res.pid);
    			   $("#loancode").textbox('setValue',res.loancode);
    			   $("#loandate").datebox('setValue',res.loandate);
    			   $("#loanamount").numberbox('setValue',res.loanamount);
    			   $('#addOrUpdateDialog').dialog('open').dialog('setTitle', '编辑申请信息');
    		   }
    	   })
       }
       
       function slide(){
           $.messager.show({
               title:'提示',
               msg:'操作成功',
               timeout:2000,
               showType:'slide'
           });
       }
       //提交申请
       function toSub(){
    	   var rows=$('#dg').datagrid('getSelections');
    	   if(rows.length==0){
    		   $.messager.alert('提示', '请选择要提交的记录!', 'info');
    		   return;
    	   }
    	   var ids="";
    	   var status="";
    	   for(var i in rows){
    		   if(ids==""){
    			   ids+=rows[i].id;
    			   status+=rows[i].status;
    		   }else{
    			   ids+=","+rows[i].id;
    			   status+=","+rows[i].status;
    		   }
    	   }
    	   alert(status);
    	   if(status.indexOf("1")>0 || status.indexOf("2")>0 || status.indexOf("4")>0 || status.indexOf("5")>0){
    		   $.messager.alert('提示', '亲，只能选择未提交与审核退回的记录!', 'info');
    		   return;
    	   }
    	   $.ajax({
    		   type:"post",
    		   url:"../apply/toSub",
    		   data:{"ids":ids},
    		   dataType:"json",
    		   success:function(res){
    			   if(res){
    				   $('#dg').datagrid('reload');
    			   }
    		   }
    	   })
       }
       
    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'center'" style="height: 100%">
        <!-- 按钮组 -->
        <div id="u_toolbar">
             <label>单据编号:</label> <input id="s_loancode"  class="easyui-textbox">
             <a href="javascript:search()" class="easyui-linkbutton" data-options="iconCls:'icon-search'" >查询</a>
             <a href="javascript:reSet();" class="easyui-linkbutton" data-options="iconCls:'icon-clear'" >重置</a>
             <a href="javascript:openAddDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">增加</a>
             <a href="javascript:updateDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
             <a href="javascript:toSub()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">提交</a>
	    </div>
        <!-- 定义数据列表 -->
	    <table id="dg" style="height:100%"></table>
	    <!-- 添加/修改对话框 -->
		<div id="addOrUpdateDialog" class="easyui-dialog" style="width: 350px; height: 380px; padding: 30px 20px" data-options="iconCls:'icon-man',modal:true,closed:true" >
			<form id="addOrUpdateForm" method="POST" enctype="multipart/form-data">
				<input type="hidden" id="id" name="id"/>
				<div style="height: 30px;margin-bottom: 3px;">
					<label>出借编号:</label> <input id="loancode" name="loancode" class="easyui-textbox" data-options="readonly:true" />
				</div>
				<div style="height: 30px;margin-bottom: 3px;">
					<label>所属客户:</label> <input id="cid" name="cid" class="easyui-combobox"   data-options="valueField:'cid',textField:'customer_name',url:'../cusbank/getCustomers' "/>
				</div>
				<div style="height: 30px;margin-bottom: 3px;">
					<label>购买产品:</label> <input id="pid" name="pid" class="easyui-combobox"   data-options="valueField:'id',textField:'name',url:'../product/getProducts' "/>
				</div>
				<div style="height: 30px;margin-bottom: 3px;">
					<label>出借日期:</label> <input id="loandate" name="loandate" class="easyui-datebox" />
				</div>
				<div style="height: 30px;margin-bottom: 3px;">
					<label>出借金额:</label> <input id="loanamount" name="loanamount" class="easyui-numberbox" data-options="min:0,precision:2"/>
				</div>
				
			</form>
			<div style="margin: 20px 20px 5px 80px;">
				<a href="javascript:submitForm()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" >保存</a>
				<a href="javascript:dialogClose()" class="easyui-linkbutton" iconCls="icon-clear">取消</a>
			</div>
		</div>
    </div>
    
</body>
</html>